apiVersion: v1
kind: Service
metadata:
  labels:
    app: webserver
  name: webserver
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: webserver
  type: LoadBalancer
  externalIPs:
  - 192.168.1.169
status:
  loadBalancer: {}
